.checkbox {
  position: relative;

  /* TODO: Figure out if inline-block and 100% width the right thing for
     providing consistent click target */
  display: inline-block;
  width: 100%;
}

.checkbox--disabled {
  opacity: .4;
}

.checkbox__field {
  opacity: 0;
  padding-right: 4px;
  width: 16px;
  height: 16px;
}

.checkbox__label {
  -moz-user-select: none;
}

.checkbox__label::after {
  position: absolute;
  cursor: pointer;
  left: 2px;
  bottom: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-left: 0;
  margin-right: 0;
  content: "";
  background-color: var(--grey-90-a10);
  border: 1px solid var(--grey-90-a30);
}

.checkbox__label:hover::after {
  background-color: var(--grey-90-a20);
}

.checkbox__label:active::after {
  background-color: var(--grey-90-a30);
}

.checkbox__field:focus + .checkbox__label::after {
  border: none;
  left: 3px;
  bottom: 3px;
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, .3);
}

.checkbox__field:checked + .checkbox__label::after {
  background-color: var(--blue-60);
  background-image: url(~photon-icons/icons/desktop/check-16.svg?fill=grey-10-a90);
}

.checkbox__field:checked + .checkbox__label:hover::after {
  background-color: var(--blue-70);
}

.checkbox__field:checked + .checkbox__label:active::after {
  background-color: var(--blue-80);
}
