version: 2
jobs:

  build:
    docker:
      - image: circleci/node:8.11.4
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm test
      - run: npm run build:storybook
      - run: npm run build:webpack
      - run: zip -r storybook.zip storybook
      - store_artifacts:
          path: ~/repo/storybook.zip
      - run: zip -r dist.zip dist
      - store_artifacts:
          path: ~/repo/dist.zip
      - persist_to_workspace:
          root: .
          paths:
            - ./*

  storybook_deploy:
    docker:
      - image: circleci/node:8.11.4
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: .
      - run: ./bin/deploy-gh-master.sh
      
workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
      - storybook_deploy:
          requires:
            - build
          filters:
            branches:
              only: master
